* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.projectContainer {
    background-color: #3a3a3a;
    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.heading {
    font-size: 4.5rem;
    color: #4983ff
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}


