* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.skillsContainer {
    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    overflow-x: hidden;
    margin-bottom: 15rem;
}

.skillTitle {
    font-size: 4.5rem;
    padding: 2rem;
    margin-bottom: 5rem;
}

.skillList {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    gap: 4rem;
}

.skillIcon {
    color: #4983ff;
    font-size: 6rem;
}

/* MEDIA QUERIES */
@media (max-width: 992px) {
  .skillTitle {
    font-size: 3.5em;
    padding: 1.5rem;
    margin-bottom: 4rem;
  }

  .skillList {
    width: 100%;
    padding: 1.5rem;
    gap: 1.5rem;
    display: flex;
    justify-content: space-around;
  }

  .skillIcon {
    font-size: 5em;
  }
}

@media (max-width: 768px) {
  .skillTitle {
    font-size: 3em;
    padding: 1rem;
    margin: 3rem;
  }

  .skillList {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }

  .skillIcon {
    font-size: 3.5em;
  }
}

@media (max-width: 576px) {
  .skillsContainer {
    margin-bottom: 7rem;
  }

  .skillTitle {
    font-size: 2.5em;
    padding: 0.5rem;
    margin-bottom: 2rem;
  }

  .skillList {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
    padding: 0.5rem;
  }

  .skillIcon {
    font-size: 3em;
  }
}
